<section id="hero">
	<div class="items-center px-8 pb-12 mx-auto md:px-12 lg:pb-24 pt-36">
		<div class="main-hero-title uppercase tracking-tighter font-bold flex items-start flex-col">
			<p class="text-black leading-none">Astroshop</p>
			<a
				href="/product"
				class="items-center gap-20 hover:text-black active:transition-none font-bold leading-none inline-flex justify-center transition w-full text-gray-600 lg:w-auto rounded-lg">
				Buy now
				<svg width="220px" height="220px" viewBox="6 6 11 11" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
					<path d="M17 8V17H8V15H13V14H12V13H11V12H10V11H9V10H8V9H7L7 8H6V7H7V6H8L8 7H9V8H10V9H11V10H12V11H13V12H14V13H15V8H17Z"></path>
				</svg>
			</a>
		</div>
	</div>
</section>

<style>
	.main-hero-title {
		font-size: max(54px, 14vw);
	}
</style>
