---
const today = new Date();
---

<footer class="relative pt-20 pb-8 overflow-hidden bg-black">
	<div class="relative container px-4 mx-auto">
		<div class="mb-24 sm:mb-64 pr-8 sm:pr-0">
			<h1 class="font-heading inline-flex items-baseline gap-12 text-4xl xs:text-5xl md:text-9xl font-bold text-white mb-20">
				<span class="uppercase">contact us</span>
				<svg width="100px" height="100px" viewBox="6 6 11 11" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
					<path d="M17 8V17H8V15H13V14H12V13H11V12H10V11H9V10H8V9H7L7 8H6V7H7V6H8L8 7H9V8H10V9H11V10H12V11H13V12H14V13H15V8H17Z"></path>
				</svg>
			</h1>
			<div class="sm:flex items-center">
				<div class="sm:flex mb-6 sm:mb-0 sm:mr-12 items-center">
					<div class="flex mb-3 sm:mb-0 sm:mr-3 items-center justify-center w-12 h-12 rounded-full">
						<svg
							fill="#fff"
							width="800px"
							height="800px"
							viewBox="0 0 400 400"
							id="Location"
							version="1.1"
							xml:space="preserve"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="XMLID_6_">
								<polygon
									id="XMLID_7_"
									points="186.7,26.7 213.3,26.7 240,26.7 266.7,26.7 266.7,0 240,0 213.3,0 186.7,0 160,0 133.3,0    133.3,26.7 160,26.7  ">
								</polygon>

								<rect height="26.7" id="XMLID_63_" width="26.7" x="106.7" y="26.7"></rect>

								<rect height="26.7" id="XMLID_64_" width="26.7" x="266.7" y="26.7"></rect>

								<rect height="26.7" id="XMLID_65_" width="26.7" x="80" y="53.3"></rect>

								<rect height="26.7" id="XMLID_66_" width="26.7" x="293.3" y="53.3"></rect>

								<polygon id="XMLID_67_" points="213.3,106.7 240,106.7 240,80 213.3,80 186.7,80 160,80 160,106.7 186.7,106.7  "></polygon>

								<polygon
									id="XMLID_68_"
									points="320,80 320,106.7 320,133.3 320,160 320,186.7 346.7,186.7 346.7,160 346.7,133.3 346.7,106.7    346.7,80  ">
								</polygon>

								<polygon id="XMLID_69_" points="240,133.3 240,160 240,186.7 266.7,186.7 266.7,160 266.7,133.3 266.7,106.7 240,106.7  ">
								</polygon>

								<polygon id="XMLID_70_" points="80,133.3 80,106.7 80,80 53.3,80 53.3,106.7 53.3,133.3 53.3,160 53.3,186.7 80,186.7 80,160  ">
								</polygon>

								<polygon id="XMLID_71_" points="160,133.3 160,106.7 133.3,106.7 133.3,133.3 133.3,160 133.3,186.7 160,186.7 160,160  ">
								</polygon>

								<polygon id="XMLID_72_" points="106.7,186.7 80,186.7 80,213.3 80,240 106.7,240 106.7,213.3  "></polygon>

								<polygon id="XMLID_73_" points="186.7,186.7 160,186.7 160,213.3 186.7,213.3 213.3,213.3 240,213.3 240,186.7 213.3,186.7  ">
								</polygon>

								<polygon id="XMLID_74_" points="293.3,213.3 293.3,240 320,240 320,213.3 320,186.7 293.3,186.7  "></polygon>

								<polygon id="XMLID_75_" points="133.3,240 106.7,240 106.7,266.7 106.7,293.3 133.3,293.3 133.3,266.7  "></polygon>

								<polygon id="XMLID_76_" points="266.7,266.7 266.7,293.3 293.3,293.3 293.3,266.7 293.3,240 266.7,240  "></polygon>

								<rect height="26.7" id="XMLID_77_" width="26.7" x="133.3" y="293.3"></rect>

								<rect height="26.7" id="XMLID_78_" width="26.7" x="240" y="293.3"></rect>

								<polygon id="XMLID_79_" points="186.7,320 160,320 160,346.7 160,373.3 186.7,373.3 186.7,346.7  "></polygon>

								<polygon id="XMLID_80_" points="213.3,346.7 213.3,373.3 240,373.3 240,346.7 240,320 213.3,320  "></polygon>

								<rect height="26.7" id="XMLID_81_" width="26.7" x="186.7" y="373.3"></rect>
							</g>
						</svg>
					</div>
					<div>
						<span class="block text-orange-50">1664, Rail road,</span>
						<span class="block text-orange-50">New York</span>
					</div>
				</div>
				<div class="sm:flex items-center">
					<div class="flex mb-3 sm:mb-0 sm:mr-3 items-center justify-center w-12 h-12 rounded-full">
						<svg
							fill="#fff"
							width="800px"
							height="800px"
							viewBox="0 0 400 400"
							id="Message"
							version="1.1"
							xml:space="preserve"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="XMLID_12_">
								<polygon
									id="XMLID_13_"
									points="80,66.7 106.7,66.7 133.3,66.7 160,66.7 186.7,66.7 213.3,66.7 240,66.7 266.7,66.7 293.3,66.7    320,66.7 346.7,66.7 373.3,66.7 373.3,40 346.7,40 320,40 293.3,40 266.7,40 240,40 213.3,40 186.7,40 160,40 133.3,40 106.7,40    80,40 53.3,40 26.7,40 26.7,66.7 53.3,66.7  ">
								</polygon>

								<polygon
									id="XMLID_107_"
									points="373.3,66.7 373.3,93.3 373.3,120 373.3,146.7 373.3,173.3 373.3,200 373.3,226.7 373.3,253.3    373.3,280 373.3,306.7 373.3,333.3 400,333.3 400,306.7 400,280 400,253.3 400,226.7 400,200 400,173.3 400,146.7 400,120    400,93.3 400,66.7  ">
								</polygon>

								<rect height="26.7" id="XMLID_108_" width="26.7" x="53.3" y="93.3"></rect>

								<rect height="26.7" id="XMLID_109_" width="26.7" x="320" y="93.3"></rect>

								<rect height="26.7" id="XMLID_110_" width="26.7" x="80" y="120"></rect>

								<rect height="26.7" id="XMLID_111_" width="26.7" x="106.7" y="146.7"></rect>

								<rect height="26.7" id="XMLID_112_" width="26.7" x="266.7" y="146.7"></rect>

								<rect height="26.7" id="XMLID_113_" width="26.7" x="293.3" y="120"></rect>

								<rect height="26.7" id="XMLID_114_" width="26.7" x="133.3" y="173.3"></rect>

								<rect height="26.7" id="XMLID_115_" width="26.7" x="160" y="200"></rect>

								<rect height="26.7" id="XMLID_116_" width="26.7" x="213.3" y="200"></rect>

								<rect height="26.7" id="XMLID_117_" width="26.7" x="240" y="173.3"></rect>

								<rect height="26.7" id="XMLID_118_" width="26.7" x="186.7" y="226.7"></rect>

								<polygon
									id="XMLID_119_"
									points="26.7,280 26.7,253.3 26.7,226.7 26.7,200 26.7,173.3 26.7,146.7 26.7,120 26.7,93.3 26.7,66.7    0,66.7 0,93.3 0,120 0,146.7 0,173.3 0,200 0,226.7 0,253.3 0,280 0,306.7 0,333.3 26.7,333.3 26.7,306.7  ">
								</polygon>

								<polygon
									id="XMLID_120_"
									points="320,333.3 293.3,333.3 266.7,333.3 240,333.3 213.3,333.3 186.7,333.3 160,333.3 133.3,333.3    106.7,333.3 80,333.3 53.3,333.3 26.7,333.3 26.7,360 53.3,360 80,360 106.7,360 133.3,360 160,360 186.7,360 213.3,360 240,360    266.7,360 293.3,360 320,360 346.7,360 373.3,360 373.3,333.3 346.7,333.3  ">
								</polygon>
							</g>
						</svg>
					</div>
					<div>
						<a href="mailto:hello@majestico.co" class="block text-orange-50">hello@majestico.co</a>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-10 border-t-2 border-white border-opacity-50">
			<div class="sm:flex items-center justify-between">
				<span class="inline-block mb-4 sm:mb-0 text-gray-50">&copy; All rights reserved</span>
				<div class="sm:flex mb-6 sm:mb-0 items-center">
					<a class="inline-block mr-6 sm:mr-12 text-white hover:text-orange-100" href="#">Terms &amp; Conditions</a><a
						class="inline-block text-white hover:text-orange-100"
						href="#">
						Privacy Policy
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
